/*
 * Bassplate
 * Boilerplate for Basscss with cssnext
 * http://github.com/basscss/bassplate
 *
 * Remove or comment out unneeded modules and import your own files.
 * Adjust global media queries and custom properties below.
 *
 */


/* Basscss Modules */
@import 'basscss-base-reset';
@import 'basscss-base-forms';
@import 'basscss-base-tables';
@import 'basscss-base-typography';
@import 'basscss-color-base';
@import 'basscss-color-forms';
@import 'basscss-color-tables';
@import 'basscss-btn';
@import 'basscss-btn-primary';
@import 'basscss-btn-outline';
@import 'basscss-type-scale';
@import 'basscss-utility-typography';
@import 'basscss-utility-layout';
@import 'basscss-align';
@import 'basscss-white-space';
@import 'basscss-positions';
@import 'basscss-responsive-states';
@import 'basscss-grid';
@import 'flex-object';
@import 'basscss-borders';
@import 'basscss-colors';
@import 'basscss-background-colors';


/* Optional Modules (not included in Basscss by default) */
/*@import 'basscss-btn-sizes';*/
@import 'basscss-responsive-white-space';
/*
@import 'basscss-color-forms-dark';
@import 'basscss-input-range';
@import 'basscss-progress';
@import 'basscss-background-images';
@import 'basscss-media-object';
@import 'basscss-utility-headings';
@import 'basscss-ui-utility-groups';
@import 'basscss-table-object';
@import 'basscss-highlight-dark';
@import 'basscss-highlight';
*/

/* Default custom properties */
@import 'basscss-defaults';

@import '../variables.css';

.App-container {
  min-height:100vh;
}



.loadingScreen {
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  top:0;
  left:0;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.loadingScreen.isLoading {
  display: flex;
}

.sym-shadow {
  box-shadow: 0 10px 10px 1px #888;
}
