/*
 * Bassplate
 * Boilerplate for Basscss with cssnext
 * http://github.com/basscss/bassplate
 *
 * Remove or comment out unneeded modules and import your own files.
 * Adjust global media queries and custom properties below.
 *
 */


/* Basscss Modules */
@import 'basscss-base-reset';
@import 'basscss-base-forms';
@import 'basscss-base-tables';
@import 'basscss-base-typography';
@import 'basscss-color-base';
@import 'basscss-color-forms';
@import 'basscss-color-tables';
@import 'basscss-btn';
@import 'basscss-btn-primary';
@import 'basscss-btn-outline';
@import 'basscss-type-scale';
@import 'basscss-utility-typography';
@import 'basscss-utility-layout';
@import 'basscss-align';
@import 'basscss-white-space';
@import 'basscss-positions';
@import 'basscss-responsive-states';
@import 'basscss-grid';
@import 'flex-object';
@import 'basscss-borders';
@import 'basscss-colors';
@import 'basscss-background-colors';


/* Optional Modules (not included in Basscss by default) */
/*@import 'basscss-btn-sizes';*/
@import 'basscss-responsive-white-space';
/*
@import 'basscss-color-forms-dark';
@import 'basscss-input-range';
@import 'basscss-progress';
@import 'basscss-background-images';
@import 'basscss-media-object';
@import 'basscss-utility-headings';
@import 'basscss-ui-utility-groups';
@import 'basscss-table-object';
@import 'basscss-highlight-dark';
@import 'basscss-highlight';
*/

/* Default custom properties */

@import './des-typography';
@import './des-paddings';

@import 'basscss-defaults';
@import '../variables.css';

.App-Frame {
  background: #ddd;
}

.App-container {
  min-height: 100vh;
}

@media (min-width: 75em) {
  .cont-mt1 {
    margin-top: .5rem;
  }
}

.sym-shadow {
  box-shadow: 0 10px 10px 1px #888;
}

.animate-margin-top {
  transition: margin-top .3s;
}

.loadingBar {
  overflow: hidden;
  width: 100%;
  transition: height .3s;
  position:fixed;
  top:0;
  height: 0;
}

.loadingBar.showing {
  height: 5px;
}

.loadingBar.showing div {
  animation: marquee 1s linear infinite;
}

.loadingBar div {
  position:relative;
  width: 10%;
  height: 100%;
}

html {
  overflow-y: scroll;
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: 100%; }
}

.App-transition-enter {
  opacity: 0.01;
}

.App-transition-enter.App-transition-enter-active {
  opacity: 1;
  transition: opacity .25s ease-in;
}


.App-transition-leave {
  display: none;
}

.App-transition-leave.App-transition-leave-active {
}

@import './fonts.css';
@import './fa.css';
