/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */



:root {
  --body-color: #444;
  --field-error-color: var(--border-color);
  --heading-font-family: 'Roboto Slab', serif;
  --heading-font-weight: 300;
  --font-family: 'Open Sans', sans-serif;

  --pre-margin-bottom: 0;

  --container-width: 75em;
}
