@import 'basscss-defaults';
@import '../App/App.css';

* {
  transition: background-color 0.3s;
}

:root {
  --body-background-color: #333;
  --link-color: #ccc;
  --frame-color: #555;
  --body-color: #eee;
  --field-error-color: var(--border-color);
  --heading-font-family: 'Roboto Slab', serif;
  --heading-font-weight: 300;
  --font-family: 'Open Sans', sans-serif;

  --pre-margin-bottom: 0;

  --container-width: 75em;
}
